version: '3'
services:
  backend:
    container_name: is460_backend
    build:
      context: './backend/'
      shm_size: '4gb'
    ports:
      - '5000:5000'
  frontend:
    container_name: is460_frontend
    build:
      context: './frontend/'
    volumes:
      - './frontend:/app'
      - '/app/node_modules'
    ports:
      - '3000:3000'
    environment:
      - REACT_APP_API=http://localhost:5000/
